<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.halley.mapper.ImportMapper">
    <select id="getAllImportRec" resultType="com.halley.bean.ImportRec">
        select * from import_rec
        <where>
            <if test="empNo!=null">
                emp_no = #{empNo}
            </if>
            <if test="year!=null">
                year(date)= #{year}
            </if>
            <if test="month!=null">
                month (date) = #{month}
            </if>
        </where>
    </select>

    <select id="getImportRecByEmpNo" resultType="com.halley.bean.ImportRec">
        select * from import_rec where emp_no = #{0} and year(date)=#{1 }
        and month(date) = #{2}
    </select>

    <select id="getImportRecByBaseNo" resultType="com.halley.bean.ImportRec">
        select * from import_rec where import_no = #{0} and emp_no = #{1} and year(date)=#{2 }
        and month(date) = #{3}
    </select>
</mapper>