<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.halley.mapper.ItemMapper">
    <select id="getItemByItemName" resultType="com.halley.bean.Item">
        select * from item where item_name = #{itemName}
    </select>

    <select id="getAllItem" resultType="com.halley.bean.Item">
        select * from item
    </select>
</mapper>