<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.halley.mapper.PaymentMapper">
    <select id="getAllPayment" resultType="com.halley.bean.Payment">
        select * from payment
    </select>

    <select id="getPaymentByItemName" resultType="com.halley.bean.Payment">
        select * from payment where
    </select>
</mapper>