<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.halley.mapper.SalaryProjectCombineMapper">
    <insert id="insertBase" parameterType="com.halley.bean.Base">
        insert into base(base_name, flag, fluctuat, num) values
        (#{baseName},#{flag},#{fluctuat},#{num})
    </insert>
</mapper>