<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.halley.mapper.SalaryProjectCombineMapping">
    <select id="getSalaryProjectByProjectName" resultType="com.halley.bean.Base">
        select * from Base where base_name = #{id}
    </select>
</mapper>